$font-heading: "Montserrat", sans-serif;
$font-body: "Hanken Grotesk", sans-serif;
$font-label: "JetBrains Mono", monospace;

:root {

    --fs-display: clamp(3rem, 6vw, 6rem);

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.75rem;

    --fs-body-lg: 1.125rem;
    --fs-body: 1rem;
    --fs-small: .875rem;
    --fs-label: .85rem;

}