$primary: var(--color-primary);
$secondary: var(--color-secondary);

$bg-dark: var(--color-accent);
$surface: #15181D;

$text-primary: var(--color-white);
$text-secondary: #B6BEC9;

$border-color: rgba(255, 255, 255, .08);

$radius-sm: .5rem;
$radius-md: .75rem;
$radius-lg: 1rem;
$radius-xl: 1.5rem;

$transition: .3s ease;