<main class="w-100 p-4 mx-auto dashboard-shell">
    <h1 class="h3 fw-extrabold dashboard-title mb-4">Platform Dashboard</h1>
    <section class="row row-cols-1 row-cols-md-2 g-3 g-md-4 mb-4" aria-label="Metrics Overview">
        <div class="col">
            <div class="card kpi-card p-4">
                <div id="kpi-total-organizers" class="value mb-1">0</div>
                <div class="text-secondary text-uppercase fw-bold metric-label">Total Organizers
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card kpi-card p-4">
                <div id="kpi-total-events" class="value mb-1">0</div>
                <div class="text-secondary text-uppercase fw-bold metric-label">Total Events
                    (This Year)</div>
            </div>
        </div>
    </section>

    <section class="card p-4 mb-4" aria-label="Analytics Visualization">
        <div class="fw-bold mb-4 text-uppercase analytics-title">
            Events Distribution per Month
        </div>

        <div class="chart-container">
            <canvas id="events-bar-chart" aria-label="Events per month bar chart"></canvas>
        </div>
    </section>


    <nav class="row row-cols-1 row-cols-md-3 g-3 g-md-4" aria-label="Quick Actions Summary">
        <div class="col">
            <a href="organizers.html" class="btn-shortcut">
                <span>View Organizers</span>
                <span class="material-symbols-outlined fs-6 fw-bold">arrow_forward_ios</span>
            </a>
        </div>
        <div class="col">
            <a href="billing.html" class="btn-shortcut">
                <span>View Billing</span>
                <span class="material-symbols-outlined fs-6 fw-bold">arrow_forward_ios</span>
            </a>
        </div>
        <div class="col">
            <a href="tickets.html" class="btn-shortcut">
                <span>View Tickets</span>
                <span class="material-symbols-outlined fs-6 fw-bold">arrow_forward_ios</span>
            </a>
        </div>
    </nav>
</main>