/* Montserrat */

@font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/montserrat/Montserrat-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/montserrat/Montserrat-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/montserrat/Montserrat-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/montserrat/Montserrat-Bold.ttf");
    font-weight: 700;
}

/* Hanken Grotesk */

@font-face {
    font-family: "Hanken Grotesk";
    src: url("/assets/fonts/hanken-grotesk/HankenGrotesk-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Hanken Grotesk";
    src: url("/assets/fonts/hanken-grotesk/HankenGrotesk-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Hanken Grotesk";
    src: url("/assets/fonts/hanken-grotesk/HankenGrotesk-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Hanken Grotesk";
    src: url("/assets/fonts/hanken-grotesk/HankenGrotesk-Bold.ttf");
    font-weight: 700;
}

/* JetBrains Mono */

@font-face {
    font-family: "JetBrains Mono";
    src: url("/assets/fonts/jetbrains-mono/JetBrainsMono-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/assets/fonts/jetbrains-mono/JetBrainsMono-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/assets/fonts/jetbrains-mono/JetBrainsMono-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/assets/fonts/jetbrains-mono/JetBrainsMono-Bold.ttf");
    font-weight: 700;
}